
<h2>Inside app component...</h2>

<h2 [class] = "'XYZ'">No : 11 | Parameter : Even</h2>
<h1>Output is : {{11 | marvellousChk : "Even"}}</h1>

<h2 [class] = "'XYZ'">No : 6 | Parameter : Even</h2>
<h1>Output is : {{6 | marvellousChk : "Even"}}</h1>

<h2 [class] = "'XYZ'">No : 1 | Parameter : Odd</h2>
<h1>Output is : {{1 | marvellousChk : "Odd"}}</h1>

<h2 [class] = "'XYZ'">No : 12 | Parameter : Odd</h2>
<h1>Output is : {{12 | marvellousChk : "Odd"}}</h1>

<h2 [class] = "'XYZ'">No : 6 | Parameter : Perfect</h2>
<h1>Output is : {{6 | marvellousChk : "Perfect"}}</h1>

<h2 [class] = "'XYZ'">No : 7 | Parameter : Perfect</h2>
<h1>Output is : {{7 | marvellousChk : "Perfect"}}</h1>

<h2 [class] = "'XYZ'">No : 10 | Parameter : Prime</h2>
<h1>Output is : {{10 | marvellousChk : "Prime"}}</h1>

<h2 [class] = "'XYZ'">No : 3 | Parameter : Prime</h2>
<h1>Output is : {{3 | marvellousChk : "Prime"}}</h1>


<router-outlet></router-outlet>
